<?xml version="1.0" encoding="UTF-8" ?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap     = "http://phonegap.com/ns/1.0"
	id            = "com.oakimpressions.oakimpressions"
	versionCode   = "1"
	version       = "1.0.0" >



	<name>OakImpressions</name>

	<description>
	Soft Office
	</description>

	<author href="https://oakimpressions.com" email = "oakimpressions@gmial.com">
	 Dadson Papa Dadze
	</author>
	<plugin name="cordova-plugin-battery-status" spec="~2.0.2" />
<plugin name="cordova-plugin-camera" spec="~4.0.3" />
<plugin name="cordova-plugin-console" spec="~1.1.0" />
<plugin name="cordova-plugin-contacts" spec="~3.0.1" />
<plugin name="cordova-plugin-device" spec="~2.0.2" />
<plugin name="cordova-plugin-device-motion" spec="~2.0.1" />
<plugin name="cordova-plugin-device-orientation" spec="~2.0.1" />
<plugin name="cordova-plugin-dialogs" spec="~2.0.1" />
<plugin name="cordova-plugin-file" spec="~6.0.1" />
<plugin name="cordova-plugin-file-transfer" spec="~1.7.1" />
<plugin name="cordova-plugin-geolocation" spec="~4.0.1" />
<plugin name="cordova-plugin-globalization" spec="~1.11.0" />
<plugin name="cordova-plugin-inappbrowser" spec="~3.0.0" />
<plugin name="cordova-plugin-media" spec="~5.0.2" />
<plugin name="cordova-plugin-media-capture" spec="~3.0.2" />
<plugin name="cordova-plugin-network-information" spec="~2.0.1" />
<plugin name="cordova-plugin-splashscreen" spec="~5.0.2" />
<plugin name="cordova-plugin-vibration" spec="~3.1.0" />
<plugin name="cordova-plugin-statusbar" spec="~2.4.2" />
<plugin name="cordova-plugin-whitelist" spec="~1.3.3" />
	
</widget>	  